<!DOCTYPE html>
<html>
<head>
    <title>ConnectX</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="game-container">
        <h1>ConnectX</h1>
        <div id="game-board"></div>
        <div id="controls">
            <h2 id="status">Status</h2>
            <button id="reset-button">Reset</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>